@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   line-height: 1;
}

p {
   color: rgba(19, 19, 24, 0.70);
   font-size: 16px;
   font-weight: 400;
   line-height: 1.62;
}

img {
   max-width: 100%;
}

.section-container {
   max-width: 1130px;
   padding: 0 20px;
   margin: auto;
}

/* common styles  */
.pt-100 {
   padding-top: 100px;
}

.section-title-wrapper .title {
   color: #131318;
   font-size: 40px;
   font-weight: 800;
   margin-bottom: 24px;
}

.primary-button {
   display: inline-block;
   padding: 14px 35px;
   border-radius: 8px;
   background: #FF5400;
   color: #FFF;
   text-align: center;
   font-size: 20px;
   font-weight: 800;
   line-height: 1;
   text-decoration: none;
   text-transform: capitalize;
}

@media (max-width:600px) {
   .section-title-wrapper .title {
      font-size: 20px;
   }

   .pt-100 {
      padding-top: 24px;
   }
}

/* header styles  */
.header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 50px;
}

.main-menu nav ul {
   display: flex;
   gap: 44px;
}

.main-menu nav ul li {
   list-style: none;
}

.main-menu nav ul li a {
   text-decoration: none;
   color: var(--Dark-02, #424247);
   font-size: 18px;
   font-weight: 400;
}

.main-menu nav ul li a:hover {
   color: #FF5400;
}

.menu-icon {
   display: none;
}


@media (max-width:600px) {
   .header-wrapper {
      flex-wrap: wrap;
      padding-top: 30px;
   }

   .main-menu nav {
      display: none;
   }

   .menu-icon {
      display: block;
      color: #131318;
      font-weight: 600;
   }
}

/* intro styles  */
.intro-wrapper {
   background-image: url('../images/intro-bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   padding: 106px 0;
   text-align: center;
   position: relative;
   z-index: 2;
   margin-top: 50px;
}

.intro-wrapper::before {
   position: absolute;
   content: "";
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: -2;
}

.intro-wrapper .title {
   color: #FFF;
   font-size: 64px;
   font-weight: 800;
   margin-bottom: 24px;
}

.intro-wrapper p {
   color: #fff;
}

.form-wrapper {
   border-radius: 8px;
   background: rgba(255, 255, 255, 0.30);
   max-width: 800px;
   margin: auto;
   margin-top: 48px;
}

.form-wrapper form {
   display: grid;
   grid-template-columns: 174px 174px 174px 174px 174px;
   gap: 24px;
   padding: 16px;
}

@media (max-width:600px) {
   .intro-wrapper {
      padding: 18px;
      margin-top: 18px;
   }

   .intro-wrapper .title {
      font-size: 22px;
   }

   .form-wrapper form {
      grid-template-columns: 1fr;
   }
}

.input-field input {
   border: 0;
   padding: 16px;
   background-color: #FFF;
   border-radius: 8px;
   width: 145px;
}

.input-field select {
   width: 100%;
   border: 0;
   padding: 16px;
   background-color: #FFF;
   width: 174px;
   border-radius: 8px;
}

@media (max-width:600px) {
   .input-field select {
      width: 100%;
   }

   .input-field input {
      width: 91%;

   }
}

.input-field button {
   width: 174px;
   border-radius: 8px;
   background: #FF5400;
   padding: 16px;
   color: #fff;
   border: 0;
   font-weight: 700;
   text-transform: capitalize;
}

.input-field button i {
   font-size: 17px;
}

/* about styles */
.about-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 53px;
}

.about-wrapper .desc {
   margin-bottom: 24px;
}

.about-list {
   li {
      color: rgba(19, 19, 24, 0.70);
      font-weight: 400;
      line-height: 1.62;
      margin-bottom: 16px;
   }
}

.about-desc {
   margin-bottom: 32px;
}

@media (max-width:600px) {
   .about-wrapper {
      grid-template-columns: 1fr;
   }
}

/* destination-area */
.destination-area .section-title-wrapper {
   text-align: center;
   margin-bottom: 48px;
}

.destination-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 24px;
}

.destination-wrapper.grid-3 {
   grid-template-columns: 1fr 1fr 1fr;
   padding-top: 24px;
   padding-bottom: 24px;
}

.destination-wrapper.grid-half {
   grid-template-columns: .7fr 1fr;
}

.destination-wrapper .item {
   position: relative;
}

.destination-wrapper .item img {
   width: 100%;
   height: 100%;
}

.destination-wrapper .item h3 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   color: #FFF;
   font-size: 28px;
   font-weight: 800;
   line-height: 1;
}


@media (max-width:600px) {
   .destination-wrapper {
      grid-template-columns: 1fr;
   }

   .destination-wrapper.grid-3 {
      grid-template-columns: 1fr;
   }

   .destination-wrapper.grid-half {
      grid-template-columns: 1fr;
   }
}

/* why choose styles  */
.why-choose-area {
   .section-title-wrapper {
      text-align: center;
      margin-bottom: 48px;
   }
}

.why-choose-wrapper {
   display: flex;
   justify-content: center;
   gap: 24px;
   flex-wrap: wrap;
}

.why-item {
   padding: 32px;
   border-radius: 16px;
   flex-basis: 43%;
}

.why-item:nth-child(1) {
   border: 1px solid rgba(251, 181, 99, 0.20);
   background: rgba(251, 181, 99, 0.05);
}

.why-item:nth-child(2) {
   border: 1px solid rgba(41, 206, 246, 0.20);
   background: rgba(41, 206, 246, 0.05);
}

.why-item:nth-child(3) {
   border: 1px solid rgba(233, 68, 68, 0.20);
   background: rgba(233, 68, 68, 0.05);
}

.why-item img {
   margin-bottom: 32px;
}

.why-item h3 {
   color: #131318;
   font-size: 24px;
   font-weight: 800;
   margin-bottom: 16px;
}


@media (max-width:600px) {
   .why-item {
      flex-basis: 100%;
   }
}

/* news letter styles  */

.newsletter-area {
   .title {
      color: #131318;
      font-size: 24px;
      font-weight: 800;
      margin-bottom: 5px;
   }
}

.newsletter-area .section-title-wrapper {
   padding-bottom: 24px;
   border-bottom: 1px solid rgba(19, 19, 24, 0.10);
   ;
   margin-bottom: 24px;
}

.newsletter-form {
   padding: 40px;
   border-radius: 16px;
   border: 1px solid #FF5400;
}

.news-form input {
   width: 100%;
   border-radius: 8px;
   background: rgba(19, 19, 24, 0.05);
   height: 52px;
   padding: 16px 20px;
   border: 0;
   margin-bottom: 16px;
}

.news-form input::placeholder {
   color: rgba(19, 19, 24, 0.30);
   font-weight: 400;
   text-transform: capitalize;
}

.news-form .primary-button {
   border: 0;
   display: block;
   width: 100%;
   cursor: pointer;
   margin-top: 5px;
}

.newsletter-wrapper {
   display: grid;
   grid-template-columns: .7fr 1fr;
   gap: 65px;
}

.newsletter-thumb {
   position: relative;
}

.newsletter-thumb img {
   height: 100%;
}

.news-text {
   position: absolute;
   border-radius: 16px;
   background: #FF5400;
   bottom: 35px;
   right: 0;
   padding: 22px 40px;
   text-align: center;
   transform: rotate(345deg);
}

.news-text p {
   color: #FFF;
   font-size: 24px;
}

.news-text h2 {
   color: #FFF;
   font-size: 32px;
   font-weight: 800;
   line-height: 1;
}


@media (max-width:600px) {
   .newsletter-wrapper {
      grid-template-columns: 1fr;
      gap: 15px;
   }

   .newsletter-form {
      padding: 24px;
   }

   .news-text p {
      font-size: 15px;
   }
   
   .news-text h2 {
      font-size: 21px;
   }
}

/* footer styles  */
.footer-area{
   padding-bottom: 100px;
}
.footer-wrapper{
   text-align: center;
}
.footer-logo{
   margin-bottom: 15px;
}
.footer-wrapper p{
   max-width: 769px;
   margin: auto;
}
.social-links{
   display: flex;
   gap: 20px;
   justify-content: center;
   margin-top: 32px;
   padding-bottom: 50px;
   border-bottom: 1px solid rgba(19, 19, 24, 0.10);
   margin-bottom: 50px;
}
.social-links li{
   list-style: none;
}
.social-links li a{
   display: inline-block;
   color: #131318;
}

@media (max-width:600px) {
   .footer-area{
      padding-bottom: 30px;
   }
   .social-links{
      padding-bottom: 18px;
      margin-bottom: 24px;
   }
}
